/* Sticky footer styles
-------------------------------------------------- */
@font-face {
  font-family: 'fira sans';
  src: url('../fonts/FiraSans-Book.otf');
}
@font-face {
  font-family: 'fira sans bold';
  src: url('../fonts/FiraSans-Bold.otf');
}
html {
  min-height: 100%;
}
body {
  position: relative;
  margin-bottom: 60px;
  font-family: 'fira sans', sans-serif;
  line-height: 1.7em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

img {
  max-width: 100%;
}

.bs-docs-sidebar.affix {
    position: fixed;
}

h3, h4 {
  padding-top: 20px;
}

@media (min-width:768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }
}

h1, h2, h3, h4, h5, strong {
  font-family: 'fira sans bold', sans-serif;
}

.navbar {
  border-radius: 0;
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.bs-docs-sidebar .nav .nav {
    display: block;
    padding-bottom: 10px;
}

.visible {
    display: block;
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.bs-docs-sidebar .nav .nav>li>a:focus, .bs-docs-sidebar .nav .nav>li>a:hover {
    padding-left: 29px;
}

.bs-docs-sidebar .nav .nav>.active:focus>a, .bs-docs-sidebar .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav>.active>a {
    padding-left: 28px;
    font-weight: 500;
}

.purple,
.orange,
.red {
  font-weight: bold;
}

.purple {
  color: #524470;
}

.orange {
  color: #F87A1C;
}

.red {
  color: #E50823;
}

